### Importing

In [202]:
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

### Read datafram

In [203]:
train_data = pd.read_csv('../data/train_data.csv')
test_data = pd.read_csv('../data/test_dara.csv')
train_data.head()

,Id,Fullname,Job_title,Department,Business_unit,Gender,Ethnicity,Age,Hiring_date,Annual_salary,Award,Country,City
0,E02978,Gabriella Cruz,Analyst,Marketing,Specialized Products,Female,Latin,39,2020-08-13,76759,0.00,USA,Miami
1,E02670,Dominic Cheng,Director,Engineering,Large Companies,Male,Asian,53,2015-06-19,168142,0.27,China,Beijing
2,E02838,Maria Barnes,Analyst,Marketing,Large Companies,Female,Asian,64,2003-05-13,76506,0.00,USA,Austin
3,E02481,Caroline Wong,Analyst,Accounting,Research and Development,Female,Asian,37,2017-03-08,40508,0.00,China,Beijing
4,E02085,Anthony Baker,System Manager,IT,Production,Male,Asian,31,2021-06-03,99937,0.00,USA,Phoenix

In [204]:
train_data.isnull().sum()

Id               0
Fullname         0
Job_title        0
Department       0
Business_unit    0
Gender           0
Ethnicity        0
Age              0
Hiring_date      0
Annual_salary    0
Award            0
Country          0
City             0
dtype: int64

### Dropping extra columns

In [205]:
extra_col = ['Id', 'Fullname']

train_data.drop(columns=extra_col, inplace=True)
test_data.drop(columns=extra_col, inplace=True)

### Add new feature

In [206]:
today = datetime.date.today().year

train_data['Hiring_year'] = pd.to_datetime(train_data['Hiring_date']).dt.year
train_data['Work_duration'] = today - train_data['Hiring_year']
train_data.drop(columns='Hiring_date', inplace=True)

test_data['Hiring_year'] = pd.to_datetime(test_data['Hiring_date']).dt.year
test_data['Work_duration'] = today - test_data['Hiring_year']
test_data.drop(columns='Hiring_date', inplace=True)

In [207]:
mean_salary_by_country = train_data.groupby('Country')['Annual_salary'].mean().round(2).to_dict()
mean_salary_by_city = train_data.groupby('City')['Annual_salary'].mean().round(2).to_dict()

train_data['mean_salary_by_country'] = train_data['Country'].map(mean_salary_by_country)
train_data['mean_salary_by_city'] = train_data['City'].map(mean_salary_by_city)
test_data['mean_salary_by_country'] = test_data['Country'].map(mean_salary_by_country)
test_data['mean_salary_by_city'] = test_data['City'].map(mean_salary_by_city)

In [208]:
mean_salary_by_job_title = train_data.groupby('Job_title')['Annual_salary'].mean().round(2).to_dict()

train_data['mean_salary_by_job_title'] = train_data['Job_title'].map(mean_salary_by_job_title)
test_data['mean_salary_by_job_title'] = test_data['Job_title'].map(mean_salary_by_job_title)

### Normalization

In [209]:
ss = StandardScaler()

train_data['Award'] = ss.fit_transform(train_data[['Award']])
test_data['Award'] = ss.transform(test_data[['Award']])

### Save the clean data before label encoding

In [210]:
train_data.to_csv('../data/train_clean_data.csv', index=False)
test_data.to_csv('../data/test_clean_data.csv', index=False)

### Label Encoding

In [211]:
le = LabelEncoder()

le_list = ['Job_title', 'Department', 'Business_unit', 'Gender', 'Ethnicity', 'Country', 'City']

for col in le_list:
    train_data[col] = le.fit_transform(train_data[[col]])
    test_data[col] = le.transform(test_data[[col]])

c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\teknik\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

### Save the clean and encoding data

In [212]:
train_data.to_csv('../data/train_encoding_data.csv', index=False)
test_data.to_csv('../data/test_encoding_data.csv', index=False)